/*
 * SID template
 * Main Style
 * Fabien Sa
 */

html {
	margin: 0;
	padding: 0;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font: 18px/1.4 "Helvetica Neue", Helvetica, arial, sans-serif;
	color: #333;
	background: #fff;
	max-width: 1200px;
	margin: 0 auto;
	padding: 12px;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

/*
 * Header
 */
.header {
	font-weight: normal;
	display: block;
	line-height: 70px;
	text-decoration: none;
	color: #333;
	border-bottom: 5px solid #333;
}

.header a:hover {
	border: none;
}

.header .logo {
	display: block;
	color: inherit;
	border: none;
	font-weight: 600;
	font-size: 30pt;
	letter-spacing: -2px;
}

/* Navigation */
.nav {
	margin: 0;
	list-style-type: none;
	letter-spacing: -1px;
	display: block;
	padding: 0;
}

.nav > li > a {
	display: block;
	color: #444;
	height: 75px;
	padding: 0;
	font-weight: 600;
}

.nav > li a:hover, .nav > .active a {
	border-bottom: 5px solid #44f;
}

/*
 * Main
 */
.main {
	padding: 0 1px;
	margin-bottom: 40px;
}

.main .content {
	text-align: justify;
}

/*
 * Footer
 */
.footer {
	height: 90px;
	line-height: 90px;
	float: right;
	font-size: 14px;
	width: 100%;
	text-align: right;
}

/*
 * Global
 */
h1 {
	font-size: 32pt;
	font-weight: 600;
	letter-spacing: -1px;
}

h2 {
	font-size: 24pt;
	letter-spacing: -1px;
}

h3 {
	font-size: 16pt;
}

h4, h5, h6 {
	font-size: 12pt;
}

a {
	transition: color .15s, border .15s;
	color: #44f;
	border-bottom: 3px solid transparent;
	text-decoration: none;
}

a:hover {
	border-bottom: 2px solid #44f;
}

img {
	display: block;
	max-width: 100%;
}

table {
	border-collapse: collapse;
	margin: 15px 0;
}

table, th, td {
	border: 2px solid #ddd;
}

td, th {
	padding: 8px 15px;
}

code, pre {
	background: #f8f8f9;
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	font-size: 85%;
}

code {
	padding: 3px 5px;
	margin: 0 2px;
	white-space: nowrap;
}

pre {
	padding: 12px;
}

blockquote {
	background: #f8f8f8;
	border-left: 5px solid #bbb;
	margin: 1.2em 5px;
	padding: 1px 12px;
}

hr {
	border: none;
	border-bottom: 2px solid #ddd;
	height: 0;
	padding: 0;
	margin: 30px 0;
}

/* Misc */
.cf:after {
	content: "";
	display: table;
	clear: both;
}

@media screen and (min-width: 40em) {
	body {
		padding: 45px 60px;
	}

	.header .logo {
		float: left;
	}

	.nav {
		float: right;
		margin-right: -1em;
	}

	.nav > li {
		float: left;
	}

	.nav > li > a {
		padding: 0 0.8em;
		margin-bottom: -5px;
		line-height: 85px;
	}

	.nav > li:last-child a {
		padding-right: 0;
		margin-right: 1em;
	}
}
