<?php
$favicon = $themeUrl . 'img/logo.png';
if(isset($config['favicon'])) {
	$favicon = $this->e($baseUrl . $config['favicon']);
}

$navbarTextColor = '#666';
if(isset($config['navbarTextColor'])) {
	$navbarTextColor = $this->e($config['navbarTextColor']);
}
?>
<nav class="navbar" data-current-text-color="<?= $navbarTextColor ?>" data-editable-background="navbarBackground" data-editable-text-color="navbarTextColor" data-save="config/user" data-position="fixed">
	<div class="container">
		<a href="<?= $baseUrl . $site->homePage ?>" class="navbar-brand" data-update-text-color=true>
			<img alt="Brand" data-editable-image="favicon" data-save="config/user" data-position="fixed" src="<?= $favicon; ?>">
			<span data-update="site.title"><?= $this->e($site->title) ?></span>
		</a>

		<ul class="nav show-for-mobile">
			<li><a href="#" class="nav-link toggle-nav-mobile" data-update-text-color=true>&#8801;</a></li>
		</ul>


		<ul class="nav nav-pages" data-update="navbar" data-update-background=true>

			<?php foreach ($pages as $p): ?>
			<?php if (!$p->parent): ?>
			<li class="nav-item parent-list <?= $p->slug === $page->slug ? 'item-active' : '' ?>">
				<a class="nav-link" href="<?= $baseUrl . $p->slug ?>" data-update-text-color=true>
					<?= $this->e($p->title) ?>
					<?php if ($p->getChildren()): ?>
					<div class="toggle-sub">&#x25BC;</div>
					<?php endif;?>
				</a>
				<ul class="nav sub-items" data-update-background=true>
				<?php if ($p->hasChildren()): ?>
				<?php foreach($p->getChildren()->visible() as $subpage): ?>
					<li class="nav-item <?= $subpage->slug === $page->slug ? 'item-active' : '' ?>">
						<a class="nav-link"
						href="<?= $baseUrl . $subpage->slug ?>"
						data-update-text-color=true>
						<?= ($subpage->slug) ?></a>
					</li>
				<?php endforeach; ?>
				<?php endif; ?>
				</ul>
			</li>
			<?php endif; ?>
			<?php endforeach; ?>
		</ul>
	</div>
</nav>
