<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><?= $page->title ?></title>
  <meta name="description" content="<?= $site->description ?>">

  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="<?= $themeUrl . 'style/bootstrap.min.css' ?>">
  <link rel="stylesheet" href="<?= $themeUrl . 'style/main.css' ?>">
  <link rel="canonical" href="<?= $baseUrl . $page->slug ?>">
  <link rel="icon" type="image/x-icon" href="<?= $themeUrl ?>favicon.png"/>
</head>
