# Include htaccess
!.htaccess

# Composer
composer.lock
composer.phar
vendor/

# OS
__*
*.bak
*.lnk
.DS_Store
Thumbs.db
.Trash-*

# IDE
*~
*.sublime-project
.idea
.vscode

# Others
*.log
*.zip
*.paw
*.phar
*.exe
doc/

# Jekyll
_site
.sass-cache
.jekyll-metadata
/api/*

# Npm
node_modules/

# Tests
tests/_output
tests/_support/_generated
tests/unit
tests/functional
data/pages/test0*
nohup.out
