# Parvula
plugins/
static/

# Composer
composer.lock
composer.phar
vendor/

# OS
__*
*.bak
*.lnk
.DS_Store
Thumbs.db
.Trash-*

# IDE
*~
*.sublime-project
.idea
.editorconfig
.vscode

# Others
*.log
*.zip
*.paw
*.phar
*.exe
doc/

# Jekyll
_site
.sass-cache
.jekyll-metadata
/api/*

# Npm
node_modules/

