<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    ## Redirect if more than 2 slashes
    RewriteCond %{REQUEST_URI} ^(.*)/{2,}(.*)$
    RewriteRule . %1/%2 [R=301,L]

    ## Block access to specific files
    RewriteRule ^(data|Parvula|plugins|themes)/(.*)\.(txt|md|html|yaml|yml|xml|json|php|sh|bat|log)$ error [F]
    RewriteRule (\.md|\.json|\.lock|\.html)$ error [F]
    # Block dot files
    RewriteRule (^|/)\. - [F]

    ## Handle front controller
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

# Disable directory browsing
Options All -Indexes
