<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<!-- Use fullPage.js http://alvarotrigo.com/fullPage/ -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<title><?= sEcho($meta->title . ' · ' . $site->title) ?></title>

	<?php if(isset($site->description)) : ?>
	<meta name="description" content="<?= $site->description ?>">
	<?php endif ?>
	<meta name="Resource-type" content="Document" />

	<?php
	echo Asset::css([$templateUrl . 'vendor/jquery.fullPage.css', $templateUrl . 'fullpage.css']);

	echo Asset::js(
		[
			'http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js',
			'http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js',
			$templateUrl . 'vendor/jquery.fullPage.min.js'
		]
	);

	$anchors = [];
	$titles = [];

	foreach ($parvula->getPages() as $page) {
		$anchors[] = str_replace(array('/', '\\', '#'), '-', $page->url);
		$titles[] = $page->title;
	}
	?>

	<script type="text/javascript">
		$(document).ready(function() {
			$('#fullpage').fullpage({
				anchors: <?= json_encode($anchors) ?>,
				navigation: true,
				navigationPosition: 'right',
				navigationTooltips: <?= json_encode($titles) ?>
			});
		});
	</script>

</head>
<body>

	<div id="fullpage">
		<?php foreach ($parvula->getPages() as $n => $page) : ?>
		<div class="section " id="section<?= $n ?>">
			<?= $page->content ?>
		</div>
		<?php endforeach ?>
	</div>

</body>
</html>
