<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">

	<title><?= $_et($meta->title, ' · ') ?><?= $site->title ?></title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<?php if(isset($site->description)) : ?>
	<meta name="description" content="<?= $site->description ?>">
	<?php endif; ?>

	<?= Asset::css('main.css') ?>
</head>
<body>

	<header id="header">
		<h1><a href="{{ base_url }}"><?= $site->title ?></a></h1>

		<ul id="nav">
		<?php foreach ($pages as $page) : ?>
			<li><?= HTML::anchor($page->title, $page->url) ?></li>
		<?php endforeach; ?>
		</ul>
	</header>


	<section id="main">
		<article class="content">
			<?= $content ?>
		</article>
	</section>

</body>
</html>