html, body {
	margin: 0;
	padding: 0;
}

body {
	font: 14px/1.4 "Helvetica Neue", Helvetica, arial, sans-serif;
	color: #333;
	background: #fff;
	-webkit-font-smoothing: antialiased;
}

#header {
	background: rgb(90,150,210);
	margin-bottom: 20px;
	font-weight: normal;
	color: #afe1da;
	height: 150px;
}

#header h1 {
	margin: 0;
	text-align: center;
	font-size: 24pt;
	letter-spacing: 3px;
	line-height: 150px;
}

#header a {
	color: #def;
	text-decoration: none;
}

#header li a {
	color: #456;
}

#header li a:hover {
	color: #678;
	text-shadow: 0 0 4px #acf;
}

#header #nav {
	width: 100%;
	background: rgba(0,0,0,.05);
	height: 35px;
}

#header ul {
	margin: 0;
	padding: 0;
	line-height: 35px;
	clear: both;
}
	
#header ul li {
	display: block;
	float: left;
	padding: 0 15px;
}

#main {
	padding: 15px;
}

#main {
	padding: 15px 10%;
	margin-bottom: 50px;
}

#main .content {
	text-align: justify;
}

h1 {
	font-size: 25pt;
	letter-spacing: 1px;
}

h2 {
	font-size: 18pt;
}

a {
	text-decoration: none;
	color: #47a;
}

a:hover {
	text-decoration: underline;
}

table {
	border-collapse: collapse;
	margin: 10px 0;
}

table, th, td {
	border: 1px solid #ddd;
	border-radius: 3px;
}

td, th {
	padding: 6px 10px;
}

code, pre {
	border: 1px solid #eee;
	border-radius: 3px;
	background: #fafafa;
	font-family: Consolas, "Liberation Mono", Courier, monospace, serif;
	font-size: 95%;
}

code {
	padding: 0 4px;
	margin: 0 2px;
	white-space: nowrap;
}

pre {
	padding: 6px;
}

blockquote {
	background: #f8f8f8;
	border-left: 5px solid #ccc;
	margin: 1em 5px;
	padding: 1px 10px;
}

hr {
	border: none;
	border-bottom: 1px solid #e2e2e2;
	height: 0;
	padding: 0;
	margin: 25px 0;
}
