/*
 * Main Style
 * Fabien Sa - 2013
 */

html, body {
	margin: 0;
	padding: 0;
}

body {
	font: 15px/1.4 "Helvetica Neue", Helvetica, arial, sans-serif;
	color: #333;
	background: #fff;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

/*
 * Header
 */
#header {
	background: rgb(60, 155, 220);
	margin-bottom: 22px;
	font-weight: normal;
	color: #afe1da;
	height: 150px;
	line-height: 150px;
	text-align: center;
}

#header h1 {
	padding: 0;
	margin: 0;
	font-size: 28pt;
	letter-spacing: 3px;
	text-shadow: 0 -1px 1px #999;
}

#header a {
	color: #def;
	text-decoration: none;
}

/* Navigation */
#header #nav {
	width: 100%;
	background: rgb(60, 90, 110);
	height: 40px;
}

#header ul {
	margin: 0;
	padding: 0;
	line-height: 40px;
	clear: both;
	list-style-type: none;
}

#header li a {
	color: #f6fcfe;
}

#header li a:hover {
	color: #eee;
	border-bottom: 3px solid rgba(60, 155, 220, .6);
}

#header ul li a {
	float: left;
	padding: 0px 18px;
	margin: 0 2px;
}

/*
 * Main
 */
#main {
	padding: 15px;
}

#main {
	padding: 15px 10%;
	margin-bottom: 50px;
}

#main .content {
	text-align: justify;
	color: #404448;
}

#main .content p {
	color: #50585F;
}

/*
 * Global
 */
h1 {
	font-size: 25pt;
	letter-spacing: 1px;
}

h2 {
	font-size: 18pt;
}

a {
	text-decoration: none;
	color: #47a;
}

a:hover {
	text-decoration: underline;
}

table {
	border-collapse: collapse;
	margin: 10px 0;
}

table, th, td {
	border: 1px solid #ddd;
	border-radius: 3px;
}

td, th {
	padding: 6px 10px;
}

code, pre {
	border: 1px solid #eee;
	border-radius: 3px;
	background: #fafafa;
	font-family: Consolas, "Liberation Mono", Courier, monospace, serif;
	font-size: 95%;
}

code {
	padding: 0 4px;
	margin: 0 2px;
	white-space: nowrap;
}

pre {
	padding: 6px;
}

blockquote {
	background: #f8f8f8;
	border-left: 5px solid #ccc;
	margin: 1em 5px;
	padding: 1px 10px;
}

hr {
	border: none;
	border-bottom: 1px solid #e2e2e2;
	height: 0;
	padding: 0;
	margin: 25px 0;
}
