<nav class="navbar navbar-toggleable-sm navbar-light">
	<a class="navbar-brand" href="./<?= $baseUrl ?>"><?= $site->title ?></a>
	<div class="mr-auto"></div>
	<ul class="navbar-nav">
	<?php foreach ($pages->visible() as $myPage): ?>
		<?php if (!$myPage->parent): ?>
		<li class="nav-item <?= !$page->is($myPage) ?: 'active' ?>">
			<a class="nav-link" href="<?= $baseUrl . $myPage->slug ?>"><?= $myPage->title ?></a>
		</li>
		<?php endif; ?>
	<?php endforeach; ?>
	</ul>
</nav>

<header class="intro-header">
	<div class="container intro-body">
		<div class="content">
			<h1><?= $page->title ?></h1>
			<?php if ($page->get('description')): ?>
				<span class="subheading"><?= $page->get('description') ?></span>
			<?php endif; ?>
		</div>
	</div>
</header>
