<!DOCTYPE html>
<html>
<head>
	<title>Parvula - Administration</title>
	<meta charset="utf-8"/>

	<script src="<?php echo $baseUrl . ADMIN;?>js/codemirror.min.js"></script>
	<script src="<?php echo $baseUrl . ADMIN;?>js/markdown.js"></script>

	<link href="<?php echo $baseUrl . ADMIN;?>css/codemirror.css" rel="stylesheet" />
	<link href="<?php echo $baseUrl . ADMIN;?>css/main.css" rel="stylesheet" />
	<link href="<?php echo $templateUrl;?>/main.css" rel="stylesheet" />
</head>

<body>
<?php echo $this($_page); ?>
</body>
</html>
