<?php $this->layout('layouts::_base') ?>

<?php if ($page->parent || $page->children): ?>
<ol class="breadcrumb">
	<?php
	$breadcrumb = $page->getBreadcrumb();
	foreach ($breadcrumb as $myPage): ?>
	<li class="breadcrumb-item">
		<a href="<?= $baseUrl . $myPage->slug ?>"><?= $myPage->title; ?></a>
	</li>
	<?php endforeach; ?>
	<li class="breadcrumb-item active"><?= $page->title ?></li>
</ol>
<?php endif; ?>

<?php if ($page->getChildren()) : ?>
<ul class="nav nav-pills nav-stacked card">
	<?php foreach ($page->getChildren() as $myPage) : ?>
	<li class="nav-item">
		<a class="nav-link" href="<?= $baseUrl . $myPage->slug ?>"><?= $myPage->title ?></a>
	</li>
	<?php endforeach; ?>
</ul>
<?php endif; ?>

<?php if ($page->getSections()): ?>
	<div class="row">
	<?php foreach ($page->sections as $k => $section): ?>
		<div class="col" data-section-id="<?= $k ?>" data-editable="<?= $section->name ?>">
			<?= $section->content ?>
		</div>
	<?php endforeach ?>
	</div>
<?php endif; ?>


<div class="content" data-editable=true>
	<?= $content ?>
</div>
