html, body {
	padding: 0;
	margin: 0;
	text-rendering: optimizeLegibility;
}

#headbar {
	background: #fff;
	border-bottom: 1px solid #eee;
	left: 0;
	right: 0;
	height: 40px;
	top: 0;
	position: absolute;
	z-index: 90;
	text-align: center;
	line-height: 36px;
	font-size: 20px;
	letter-spacing: 1px;
	color: #777;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

#headbar .admin-btn {
	border-color: transparent;
}

#headbar .admin-btn:hover {
	border-color: rgba(0,0,0,.2);
}

#preview {
	position: absolute;
	width: 49.99%;
	max-width: 49.99%;
	right: 0;
	padding-bottom: 50px;
	top: 40px;
	bottom: 0px;
	overflow-y: auto;
}

#preview .inner {
	margin: 35px;
}

.admin-btn,
.admin-btn-m,
.admin-btn-s,
.admin-btn-xs {
	background: transparent;
	padding: 0 15px;
	text-align: center;
	height: 40px;
	line-height: 38px;
	border: 0;
	outline: none;
	color: rgba(0,0,0,.55);
	font-size: 12px;
	margin: 0 2px;
	box-sizing: border-box;
	border: 2px solid rgba(0,0,0,.15);
	font-weight: bold;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: bottom;

	-webkit-transition: all .25s ease-out;
	-moz-transition: all .25s ease-out;
	-o-transition: all .25s ease-out;
	transition: all .25s ease-out;
}

.admin-btn-m {
	margin: 0 1px;
	padding: 0 10px;
	font-size: 11px;
	line-height: 26px;
	height: 28px;
}

.admin-btn-s {
	margin: 0;
	padding: 0 6px;
	font-size: 10px;
	height: 24px;
	line-height: 21px;
}

.admin-btn-xs {
	height: 20px;
	line-height: 17px;
	font-size: 9px;
	padding: 0 4px;
}

.admin-btn:hover,
.admin-btn-m:hover,
.admin-btn-s:hover,
.admin-btn-xs:hover {
	cursor: default;
	text-decoration: none;
	color: rgba(0,0,0,.7);
	border: 2px solid rgba(0,0,0,.7);
}

.admin-btn:active,
.admin-btn-m:active,
.admin-btn-s:active,
.admin-btn-xs:active {
	background: #e4e4e4;
	text-decoration: none;
}

.admin-text-s {
	font-size: 11px;
}

#headbar .right {
	float: right;
}

#headbar .left {
	float: left;
}

#headbar .title {
	width: 40%;
	margin: auto;
	position: absolute;
	left: 30%;
	min-height: 100%; /* FF */
	border: none;
	border-bottom: 2px solid #eee;
	background: transparent;
	padding: 0 5px;
	color: #6a6a6a;
	font-size: 16pt;
	text-align: center;

	box-sizing: border-box;
}

.anim {
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;

	display: inline-block;
}

#pages-list,
#page-info {
	z-index: 85;
	position: absolute;
	background: #fff;
	box-shadow: 0 0 2em rgba(0,20,50,0.04);
	overflow-y: auto;
	word-wrap: break-word;
}

#pages-list h2,
#page-info h2 {
	font-size: 14pt;
	margin: 10px 0;
	padding-bottom: 0px;
	text-align: center;
	color: #6a6a6a;
}

#pages-list ul,
#page-info ul {
	list-style: square;
	padding: 0 24px;
	margin: 10px 0;
}

#pages-list {
	width: 200px;
	left: -250px;
	top: 40px;
	border-right: 1px solid #eee;
	padding: 5px 15px;
	bottom: 0;
}

#pages-list ul {
	font-size: 12pt;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#pages-list li {
	margin: 1px 0;
}

#pages-list .admin-btn, #pages-list .admin-btn-m {
	width: 100%;
}

#page-info {
	right: 0;
	margin-top: 40px;
	width: 360px;
	max-height: 260px;
	margin-left: -200px;
	border: 1px solid #eee;
	padding: 15px 25px;
	text-transform: capitalize;
}

#page-info li label, #page-info li input, #page-info li button {
	display: inline-block;
}

#page-info li button {
	vertical-align: bottom;
}

#page-info li label {
	margin: 2px;
	min-width: 80px;
}

.login {
	text-align: center;
	margin: 10% auto;
	border-bottom: 2px solid rgba(0,0,0,0.06);
	background: #fff;
	padding: 80px;
	box-shadow: 0 0 20em rgba(0,20,50,0.12);
}

.login h1 {
	font-size: 22pt;
	color: #666;
	margin-top: 0;
}

input {
	padding: 3px;
	border: 2px solid rgba(0,0,0,.15);
	outline: none;
	box-sizing: border-box;
	background: transparent;
}

input.input-m {
	height: 24px;
	padding: 0 6px;
	font-size: 13px;
}

input.input-l {
	height: 40px;
	padding: 0 10px;
	font-size: 14px;
}

div [contenteditable="true"] {
	outline: none;
}

input:hover,
div [contenteditable="true"]:hover {
	border: 2px solid rgba(0,0,0,.4);
}

input:focus,
div [contenteditable="true"]:focus {
	box-shadow: 0 0 0 4px rgba(0,120,240,.1);
	border: 2px solid rgba(0,0,0,.7);
}

input,
div [contenteditable="true"] {
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

ul.no-style > li {
	list-style: none;
}

.rotate {
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

.notice {
	background: rgba(50, 50, 160, .1);

	background: #cce\9;
}

.ok {
	background: rgba(20, 250, 100, .3) !important;

	background: #8EFFAE\9 !important;
}

.error {
	background: rgba(250, 40, 60, .2) !important;

	background: #FF7372\9 !important;
}

/* placeholder */
::-webkit-input-placeholder {
	color: #bbb
}
::-moz-placeholder {
	color: #bbb
}
:-ms-input-placeholder {
	color: #bbb
}
input:-moz-placeholder {
	color: #bbb
}

/* Code mirror */

.CodeMirror {
	width: 49.99%;
	height: auto;
	position: absolute;
	top: 40px;
	left: 0;
	right: 0;
	bottom: 0;
	font-size: 1em;
	line-height: 1.3em;
	color: #606060;
	border: 0;
	border-right: 1px solid #eee;
}

.CodeMirror-lines {
	padding: 50px 0;
	padding-top: 35px;
}

.CodeMirror pre {
	padding: 0 30px;
}

/* CodeMirror markdown style */
.cm-s-default .cm-strong,
.cm-s-default .cm-quote,
.cm-s-default .cm-number,
.cm-s-default .cm-atom,
.cm-s-default .cm-tag {
	color: #333;
	font-weight: bold;
}

.cm-s-default .cm-string,
.cm-s-default .cm-link {
	color: #357;
}
.cm-s-default .cm-link {
	font-weight: bold;
	text-decoration: none;
}
.cm-s-default .cm-string {
	text-decoration: underline;
}
.cm-s-default .cm-tag {
	color: #364;
}

.cm-s-default .cm-comment {
	color: #755;
}

.cm-s-default .cm-header {
	color: #333;
	line-height: 1.5em;
	font-weight: bold;
}

.cm-s-default .cm-header-1 { font-size: 1.45em; }
.cm-s-default .cm-header-2 { font-size: 1.3em; }
.cm-s-default .cm-header-3 { font-size: 1.1em; }
.cm-s-default .cm-header-4 { font-size: 1.05em; }

.cm-s-default .cm-variable-2,
.cm-s-default .cm-variable-3,
.cm-s-default .cm-keyword {
	color: #333;
}


/* Basic responsive design */
@media all and (max-width: 600px) {

	.login {
		margin: 0% auto;
		padding: 50px 5px;
	}

	#headbar {
		height: 80px;
	}

	#headbar .title {
		margin-top: 40px;
		height: 40px;
		width: 60%;
		left: 20%;
		min-height: 40px;
	}

	.CodeMirror {
		top: 80px;
	}

	#preview {
		top: 80px;
	}

	#page-info {
		margin-top: 80px;
	}

	#pages-list {
		top: 80px;
	}

}
